{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <div class="col-lg-12">
        <h1>Archived articles</h1>
    </div>

    <div class="col-lg-12">
        {% include 'articleList.html.twig' %}
    </div>
{% endblock %}