{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <div class="col-lg-12">
        <h1>{{ article.title }}</h1>
    </div>

    <div class="col-lg-12">
        {%  include 'buttons.html.twig' %}
    </div>

    <div class="col-lg-12">
       {{ article.content|raw }}
    </div>

{% endblock %}