<div class="col-lg-12">
    <ul class="article-list list-unstyled">
        {% for article in articles %}
            <li class="panel panel-default article-item">

                <div class="panel-heading" >
                    <a href="/twyp_silex/article/show/{{ article.id }}"><h4 class="article-title">{{ article.title }}</h4></a>
                </div>

                <div class="panel-body">

                    {% include 'buttons.html.twig' %}
                    <a href="{{ article.url }}">{{ article.url  }}</a>

                </div>
            </li>
        {% endfor %}
    </ul>
</div>