<!-- base.html.twig -->
<!DOCTYPE html>
<html>
<head><!-- whatever --></head>

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>TWYP !</title>

        {% block stylesheets %}
            <!-- Bootstrap Core CSS -->
            <link href="../../../TWYP_Silex/public/assets/css/bootstrap.min.css" rel="stylesheet">

            <!-- Custom CSS -->
            <link href="../../../TWYP_Silex/public/assets/css/simple-sidebar.css" rel="stylesheet">
            <link href="../../../TWYP_Silex/public/assets/css/twyp.css" rel="stylesheet">
        {% endblock %}


    </head>

    <body>
        {% block header %}{% endblock %}

        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="/twyp_silex/">
                            TWYP
                        </a>
                    </li>

                    <li>
                        <a href="/twyp_silex/">Dashboard</a>
                    </li>

                    <li>
                        <a href="/twyp_silex/article/liked">Liked</a>
                    </li>

                    <li>
                        <a href="/twyp_silex/category">Categories</a>
                    </li>

                    <li>
                        <a href="/twyp_silex/article/archived">Archived</a>
                    </li>

                    <li>
                        <a href="javascript:function iptxt(){
                            var d=document;
                            try{
                                if(!d.body)
                                    throw(0);
                                window.location='http://localhost/twyp_silex/article/import?url='+encodeURIComponent(d.location.href);
                            }catch(e){
                                alert('Please wait until the page has loaded.');
                            }
                        }iptxt();void(0)">Bookmark Me !</a>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        {% block main %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>

        {% block footer %}{% endblock %}

    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../../../TWYP_Silex/public/assets/js/jquery-2.2.2.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../../TWYP_Silex/public/assets/js/bootstrap.min.js"></script>


    </body>

</html>
