<form class="form-group" action="article/{{ article.id }}/categorize" method="post">
    {% if article.isLiked %}
        <a type="button" href="/twyp_silex/article/{{ article.id }}/like" class="btn btn-default">
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
        </a>
    {% else %}
        <a href="/twyp_silex/article/{{ article.id }}/like" class="btn btn-default">
            <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
        </a>
    {% endif %}

    {% if article.isArchived %}
        <a href="/twyp_silex/article/{{ article.id }}/archive" class="btn btn-default">
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
        </a>
    {% else %}
        <a href="/twyp_silex/article/{{ article.id }}/archive" class="btn btn-default">
            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
        </a>
    {% endif %}

    <label for="category">Category</label>

    <select class="form_control" id="category" name="category">
        <option value="0"></option>
        {% for category in categories %}
            <option value="{{ category.id }}" {% if category.id == article.category %}selected{% endif %}>{{ category.name }}</option>
        {% endfor %}
    </select>

    <button type="submit" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
    </button>

    <a href="/twyp_silex/article/delete/{{ article.id }}" class="btn btn-default pull-right">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </a>
</form>