{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <div class="col-lg-12">
        <h1>Categories</h1>
    </div>

    <div class="col-lg-12">
        <form class="form-inline" action="create" method="post">
            <div class="form-group">
                <label for="categoryName">New category</label>
                <input class="form-control" id="categoryName" placeholder="Name" name="categoryName" required>
            </div>

            <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>

    <div class="col-lg-12">
        <ul class="category-list list-unstyled">
            {% for category in categories %}
                <li class="panel panel-default">
                    <div class="panel-body form-group">
                        <a href="/twyp_silex/category/{{ category.id }}"><h3 class="category-title">{{ category.name }}</h3></a>
                    </div>
                    <div class="panel-footer">
                        <a href="/twyp_silex/category/delete/{{ category.id }}" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}