{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main %}
<div class="col-lg-12">
    <h1>{{ category.name }}</h1>
</div>

<div class="col-lg-12">
    {% include 'articleList.html.twig' %}
</div>
{% endblock %}