{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <div class="col-lg-12">
        <h1>{{ hello_msg }}</h1>
    </div>

    <div class="col-lg-12">
        <form class="form-inline" action="article/import" method="get">
            <div class="form-group">
                <label for="urlToSave">Url to save</label>
                <input class="form-control" id="urlToSave" placeholder="Link..." name="url" required>
            </div>

            <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>

    <div class="col-lg-12">
        {% include 'articleList.html.twig' %}
    </div>

{% endblock %}