.article-item {
    padding-bottom: -px;
}

.article-list, .category-list{
    padding: 20px 0px;
}

.article-buttons {
    padding-top: 10px;
    margin-top: 10px;
}

.article-title, .category-title{
    color: black;
    font-weight: bold;
}
